# Importing Libraries

In [58]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Load Datasets

In [61]:
# Load dataset
df = pd.read_csv('sepsis_Data2.csv')
df

,Unnamed: 0,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,1,61.0,99.0,36.44,124.0,65.00,43.0,17.5,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,2,0
1,2,64.0,98.0,36.44,125.0,64.00,41.0,27.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,3,0
2,3,56.0,100.0,36.44,123.0,65.00,41.0,9.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,4,0
3,4,66.0,99.0,36.22,120.0,67.00,43.0,23.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,5,0
4,5,94.0,100.0,36.22,194.0,116.00,66.0,14.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58371,31,72.0,98.0,37.50,178.0,98.00,70.0,16.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,39,0
58372,32,75.0,98.0,37.60,170.5,90.67,69.0,16.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,40,0
58373,33,72.0,98.0,37.60,170.5,88.33,67.0,18.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,41,0
58374,34,83.0,97.0,37.90,182.0,97.33,84.0,16.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,42,0
58375,35,76.0,97.0,37.80,183.0,101.33,80.0,18.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,43,0

# Viewing Dataset

In [65]:
# View the first 5 rows
print("First 5 rows:")
print(df.head())

# View the last 5 rows

print("\nLast 5 rows:")
print(df.tail())

# Optionally view a random sample of rows
print("\nRandom sample of 5 rows:")
print(df.sample(5))
df

First 5 rows:
   Unnamed: 0    HR  O2Sat   Temp    SBP    MAP   DBP  Resp  EtCO2  \
0           1  61.0   99.0  36.44  124.0   65.0  43.0  17.5    0.0
1           2  64.0   98.0  36.44  125.0   64.0  41.0  27.0    0.0
2           3  56.0  100.0  36.44  123.0   65.0  41.0   9.0    0.0
3           4  66.0   99.0  36.22  120.0   67.0  43.0  23.0    0.0
4           5  94.0  100.0  36.22  194.0  116.0  66.0  14.0    0.0

   BaseExcess  ...   WBC  Fibrinogen  Platelets    Age  Gender  Unit1  Unit2  \
0         0.0  ...  11.0         0.0      158.0  75.91       0    0.0    1.0
1         0.0  ...  11.0         0.0      158.0  75.91       0    0.0    1.0
2         0.0  ...  11.0         0.0      158.0  75.91       0    0.0    1.0
3         0.0  ...  11.0         0.0      158.0  75.91       0    0.0    1.0
4         0.0  ...  11.0         0.0      158.0  75.91       0    0.0    1.0

   HospAdmTime  ICULOS  SepsisLabel
0        -98.6       2            0
1        -98.6       3            0
2        -98.6       4            0
3        -98.6       5            0
4        -98.6       6            0

[5 rows x 42 columns]

Last 5 rows:
       Unnamed: 0    HR  O2Sat  Temp    SBP     MAP   DBP  Resp  EtCO2  \
58371          31  72.0   98.0  37.5  178.0   98.00  70.0  16.0    0.0
58372          32  75.0   98.0  37.6  170.5   90.67  69.0  16.0    0.0
58373          33  72.0   98.0  37.6  170.5   88.33  67.0  18.0    0.0
58374          34  83.0   97.0  37.9  182.0   97.33  84.0  16.0    0.0
58375          35  76.0   97.0  37.8  183.0  101.33  80.0  18.0    0.0

       BaseExcess  ...  WBC  Fibrinogen  Platelets    Age  Gender  Unit1  \
58371        -3.0  ...  7.2       220.0       98.0  60.47       1    0.0
58372        -3.0  ...  7.2       220.0       98.0  60.47       1    0.0
58373        -3.0  ...  7.2       220.0       98.0  60.47       1    0.0
58374        -3.0  ...  7.2       220.0       98.0  60.47       1    0.0
58375        -3.0  ...  7.2       220.0       98.0  60.47       1    0.0

       Unit2  HospAdmTime  ICULOS  SepsisLabel
58371    0.0        -10.9      39            0
58372    0.0        -10.9      40            0
58373    0.0        -10.9      41            0
58374    0.0        -10.9      42            0
58375    0.0        -10.9      43            0

[5 rows x 42 columns]

Random sample of 5 rows:
       Unnamed: 0     HR  O2Sat   Temp    SBP    MAP   DBP  Resp  EtCO2  \
43149           8   74.0   98.0  36.67  143.0  107.0   0.0  14.0    0.0
21819           6  107.0  100.0  38.00  146.0   94.0  67.0  16.0    0.0
16320          21   85.0   97.0  36.89  119.0   80.0  46.0  20.0    0.0
43451          36   71.0   96.0  36.89  104.0   60.0   0.0  16.0    0.0
8774           34  103.0   97.0  35.72  117.0   76.0  58.0  20.0    0.0

       BaseExcess  ...   WBC  Fibrinogen  Platelets    Age  Gender  Unit1  \
43149         0.0  ...   5.3         0.0      248.0  78.21       0    1.0
21819        -2.0  ...  12.3         0.0      144.0  28.66       1    0.0
16320         0.0  ...  12.7         0.0      111.0  77.78       1    0.0
43451         4.0  ...   9.0         0.0      350.0  74.59       1    0.0
8774          0.0  ...  15.7         0.0      224.0  68.14       1    0.0

       Unit2  HospAdmTime  ICULOS  SepsisLabel
43149    0.0        -6.51       9            0
21819    0.0        -0.03       7            0
16320    1.0        -3.22      23            0
43451    0.0        -0.04      37            0
8774     1.0       -41.43      36            0

[5 rows x 42 columns]

,Unnamed: 0,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,1,61.0,99.0,36.44,124.0,65.00,43.0,17.5,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,2,0
1,2,64.0,98.0,36.44,125.0,64.00,41.0,27.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,3,0
2,3,56.0,100.0,36.44,123.0,65.00,41.0,9.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,4,0
3,4,66.0,99.0,36.22,120.0,67.00,43.0,23.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,5,0
4,5,94.0,100.0,36.22,194.0,116.00,66.0,14.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58371,31,72.0,98.0,37.50,178.0,98.00,70.0,16.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,39,0
58372,32,75.0,98.0,37.60,170.5,90.67,69.0,16.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,40,0
58373,33,72.0,98.0,37.60,170.5,88.33,67.0,18.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,41,0
58374,34,83.0,97.0,37.90,182.0,97.33,84.0,16.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,42,0
58375,35,76.0,97.0,37.80,183.0,101.33,80.0,18.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,43,0

In [67]:
# Print the shape of the DataFrame (rows, columns)
print("\nData Shape:", df.shape)

# Print data types of each column
print("\nData Types:")
print(df.dtypes)
df

Data Shape: (58376, 42)

Data Types:
Unnamed: 0            int64
HR                  float64
O2Sat               float64
Temp                float64
SBP                 float64
MAP                 float64
DBP                 float64
Resp                float64
EtCO2               float64
BaseExcess          float64
HCO3                float64
FiO2                float64
pH                  float64
PaCO2               float64
SaO2                float64
AST                 float64
BUN                 float64
Alkalinephos        float64
Calcium             float64
Chloride            float64
Creatinine          float64
Bilirubin_direct    float64
Glucose             float64
Lactate             float64
Magnesium           float64
Phosphate           float64
Potassium           float64
Bilirubin_total     float64
TroponinI           float64
Hct                 float64
Hgb                 float64
PTT                 float64
WBC                 float64
Fibrinogen          float64
Platelets           float64
Age                 float64
Gender                int64
Unit1               float64
Unit2               float64
HospAdmTime         float64
ICULOS                int64
SepsisLabel           int64
dtype: object

,Unnamed: 0,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,1,61.0,99.0,36.44,124.0,65.00,43.0,17.5,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,2,0
1,2,64.0,98.0,36.44,125.0,64.00,41.0,27.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,3,0
2,3,56.0,100.0,36.44,123.0,65.00,41.0,9.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,4,0
3,4,66.0,99.0,36.22,120.0,67.00,43.0,23.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,5,0
4,5,94.0,100.0,36.22,194.0,116.00,66.0,14.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58371,31,72.0,98.0,37.50,178.0,98.00,70.0,16.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,39,0
58372,32,75.0,98.0,37.60,170.5,90.67,69.0,16.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,40,0
58373,33,72.0,98.0,37.60,170.5,88.33,67.0,18.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,41,0
58374,34,83.0,97.0,37.90,182.0,97.33,84.0,16.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,42,0
58375,35,76.0,97.0,37.80,183.0,101.33,80.0,18.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,43,0

In [69]:
df.describe

<bound method NDFrame.describe of        Unnamed: 0    HR  O2Sat   Temp    SBP     MAP   DBP  Resp  EtCO2  \
0               1  61.0   99.0  36.44  124.0   65.00  43.0  17.5    0.0
1               2  64.0   98.0  36.44  125.0   64.00  41.0  27.0    0.0
2               3  56.0  100.0  36.44  123.0   65.00  41.0   9.0    0.0
3               4  66.0   99.0  36.22  120.0   67.00  43.0  23.0    0.0
4               5  94.0  100.0  36.22  194.0  116.00  66.0  14.0    0.0
...           ...   ...    ...    ...    ...     ...   ...   ...    ...
58371          31  72.0   98.0  37.50  178.0   98.00  70.0  16.0    0.0
58372          32  75.0   98.0  37.60  170.5   90.67  69.0  16.0    0.0
58373          33  72.0   98.0  37.60  170.5   88.33  67.0  18.0    0.0
58374          34  83.0   97.0  37.90  182.0   97.33  84.0  16.0    0.0
58375          35  76.0   97.0  37.80  183.0  101.33  80.0  18.0    0.0

       BaseExcess  ...   WBC  Fibrinogen  Platelets    Age  Gender  Unit1  \
0             0.0  ...  11.0         0.0      158.0  75.91       0    0.0
1             0.0  ...  11.0         0.0      158.0  75.91       0    0.0
2             0.0  ...  11.0         0.0      158.0  75.91       0    0.0
3             0.0  ...  11.0         0.0      158.0  75.91       0    0.0
4             0.0  ...  11.0         0.0      158.0  75.91       0    0.0
...           ...  ...   ...         ...        ...    ...     ...    ...
58371        -3.0  ...   7.2       220.0       98.0  60.47       1    0.0
58372        -3.0  ...   7.2       220.0       98.0  60.47       1    0.0
58373        -3.0  ...   7.2       220.0       98.0  60.47       1    0.0
58374        -3.0  ...   7.2       220.0       98.0  60.47       1    0.0
58375        -3.0  ...   7.2       220.0       98.0  60.47       1    0.0

       Unit2  HospAdmTime  ICULOS  SepsisLabel
0        1.0        -98.6       2            0
1        1.0        -98.6       3            0
2        1.0        -98.6       4            0
3        1.0        -98.6       5            0
4        1.0        -98.6       6            0
...      ...          ...     ...          ...
58371    0.0        -10.9      39            0
58372    0.0        -10.9      40            0
58373    0.0        -10.9      41            0
58374    0.0        -10.9      42            0
58375    0.0        -10.9      43            0

[58376 rows x 42 columns]>

# Handeling Zeroes

In [72]:


# # Define the columns where zeros are invalid (i.e., represent missing measurements)
# cols_with_invalid_zeros = ['PRG', 'PL', 'PR', 'SK', 'TS', 'M11', 'BD2']

# # Replace zeros with NaN for these columns
# for col in cols_with_invalid_zeros:
#     df.loc[df[col] == 0, col] = np.nan

# # Verify the update by checking the summary statistics again for these columns
# print(df[cols_with_invalid_zeros].describe())
# df

In [74]:
# # Check for missing values in each column
# missing_counts = df.isnull().sum()
# print("Missing values per column after replacing zeros with NaN:")
# print(missing_counts)

# Median Imputation

In [77]:
# from sklearn.impute import SimpleImputer

# # List of columns to impute (those that had invalid zeros replaced with NaN)
# cols_to_impute = ['PRG', 'PL', 'PR', 'SK', 'TS', 'M11']

# # Initialize the imputer with median strategy
# imputer = SimpleImputer(strategy='median')

# # Apply the imputer on the specified columns
# df[cols_to_impute] = imputer.fit_transform(df[cols_to_impute])

# # Verify that missing values are now imputed
# missing_after_imputation = df[cols_to_impute].isnull().sum()
# print("Missing values after imputation:")
# print(missing_after_imputation)

# # Optionally, review summary statistics again
# print("\nUpdated summary statistics for imputed columns:")
# print(df[cols_to_impute].describe())
# df

# Checking For Duplicates

In [80]:
duplicates = df.duplicated().sum()
print("Number of duplicate rows:", duplicates)
if duplicates > 0:
    df.drop_duplicates(inplace=True)
    print("Duplicates removed.")

Number of duplicate rows: 0

# Exploratory Data Analysis: Box Plot, Histogram, Correlation Heatmap

In [84]:
# import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns

# # Assuming you have a DataFrame 'df' with your cleaned data.
# # List of continuous features
# features = 
# target = 'Sepssis'

# # Ensure the target is categorical if it isn't already
# df[target] = df[target].astype('category')

# # Define the output PDF filename
# pdf_filename = 'eda_results.pdf'

# # 1. Grouped Boxplots for each feature by Sepsis outcome
# for feature in features:
#     plt.figure(figsize=(8, 4))
#     sns.boxplot(x=target, y=feature, data=df)
#     plt.title(f'Boxplot of {feature} by Sepsis Outcome')
#     plt.xlabel('Sepsis')
#     plt.ylabel(feature)
#     plt.show()

# # 2. Histograms with KDE for each feature to inspect distribution
# for feature in features:
#     plt.figure(figsize=(8, 4))
#     sns.histplot(df[feature], kde=True, bins=30)
#     plt.title(f'Histogram of {feature}')
#     plt.xlabel(feature)
#     plt.ylabel('Frequency')
#     plt.show()

# # 3. Correlation Heatmap of continuous features
# corr_matrix = df[features].corr()
# plt.figure(figsize=(10, 8))
# sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', fmt=".2f")
# plt.title('Correlation Matrix of Features')
# plt.show()

In [86]:
# import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns
# from matplotlib.backends.backend_pdf import PdfPages

# # Assuming your cleaned data is in a DataFrame called 'df'
# # List of continuous features and the target column
# features = ['PRG', 'PL', 'PR', 'SK', 'TS', 'M11', 'BD2', 'Age']
# target = 'Sepssis'

# # Ensure the target is categorical if it isn't already
# df[target] = df[target].astype('category')



# # Create a PdfPages object to save all the plots into one PDF
# with PdfPages(pdf_filename) as pdf:
    
#     # 1. Grouped Boxplots for each feature by Sepsis outcome
#     for feature in features:
#         fig, ax = plt.subplots(figsize=(8, 4))
#         sns.boxplot(x=target, y=feature, data=df, ax=ax)
#         ax.set_title(f'Boxplot of {feature} by Sepsis Outcome')
#         ax.set_xlabel('Sepsis')
#         ax.set_ylabel(feature)
#         pdf.savefig(fig)  # Save the current figure into the PDF
#         plt.close(fig)    # Close the figure to free memory

#     # 2. Histograms with KDE for each feature to inspect distribution
#     for feature in features:
#         fig, ax = plt.subplots(figsize=(8, 4))
#         sns.histplot(df[feature], kde=True, bins=30, ax=ax)
#         ax.set_title(f'Histogram of {feature}')
#         ax.set_xlabel(feature)
#         ax.set_ylabel('Frequency')
#         pdf.savefig(fig)
#         plt.close(fig)
    
#     # 3. Correlation Heatmap of continuous features
#     corr_matrix = df[features].corr()
#     fig, ax = plt.subplots(figsize=(10, 8))
#     sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', fmt=".2f", ax=ax)
#     ax.set_title('Correlation Matrix of Features')
#     pdf.savefig(fig)
#     plt.close(fig)

# print(f"All plots have been saved into {pdf_filename}")

In [88]:
df

,Unnamed: 0,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,1,61.0,99.0,36.44,124.0,65.00,43.0,17.5,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,2,0
1,2,64.0,98.0,36.44,125.0,64.00,41.0,27.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,3,0
2,3,56.0,100.0,36.44,123.0,65.00,41.0,9.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,4,0
3,4,66.0,99.0,36.22,120.0,67.00,43.0,23.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,5,0
4,5,94.0,100.0,36.22,194.0,116.00,66.0,14.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58371,31,72.0,98.0,37.50,178.0,98.00,70.0,16.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,39,0
58372,32,75.0,98.0,37.60,170.5,90.67,69.0,16.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,40,0
58373,33,72.0,98.0,37.60,170.5,88.33,67.0,18.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,41,0
58374,34,83.0,97.0,37.90,182.0,97.33,84.0,16.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,42,0
58375,35,76.0,97.0,37.80,183.0,101.33,80.0,18.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,43,0

# Hypothesis testing

In [91]:
# import pandas as pd
# from scipy.stats import ttest_ind, mannwhitneyu

# # List of continuous features and the target column
# features = ['PRG', 'PL', 'PR', 'SK', 'TS', 'M11', 'BD2', 'Age']
# target = 'Sepssis'

# # Convert target to binary (0 for Negative, 1 for Positive)
# df[target] = df[target].map({'Negative': 0, 'Positive': 1})

# # Function to decide on the test based on skewness
# def choose_test(series):
#     # If skewness is small, assume approximate normality
#     return abs(series.skew()) < 0.5

# results = []
# df

# for feature in features:
#     group0 = df[df[target] == 0][feature]
#     group1 = df[df[target] == 1][feature]
    
#     if choose_test(group0) and choose_test(group1):
#         # Use t-test for approximately normal data
#         test_stat, p_value = ttest_ind(group0, group1, nan_policy='omit')
#         test_used = 't-test'
#     else:
#         # Use Mann-Whitney U for non-normal data
#         test_stat, p_value = mannwhitneyu(group0, group1, alternative='two-sided')
#         test_used = 'Mann-Whitney U'
    
#     results.append({
#         'Feature': feature,
#         'Test': test_used,
#         'Statistic': test_stat,
#         'p-value': p_value
#     })

# results_df = pd.DataFrame(results)
# print(results_df)

In [93]:
df.columns

Index(['Unnamed: 0', 'HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP', 'Resp',
       'EtCO2', 'BaseExcess', 'HCO3', 'FiO2', 'pH', 'PaCO2', 'SaO2', 'AST',
       'BUN', 'Alkalinephos', 'Calcium', 'Chloride', 'Creatinine',
       'Bilirubin_direct', 'Glucose', 'Lactate', 'Magnesium', 'Phosphate',
       'Potassium', 'Bilirubin_total', 'TroponinI', 'Hct', 'Hgb', 'PTT', 'WBC',
       'Fibrinogen', 'Platelets', 'Age', 'Gender', 'Unit1', 'Unit2',
       'HospAdmTime', 'ICULOS', 'SepsisLabel'],
      dtype='object')

# Feature Scaling

In [103]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, classification_report
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, SimpleRNN, Bidirectional

# Ensure categorical data is properly encoded
Y=Y.astype('int')

X_numeric = df_scaled.apply(pd.to_numeric, errors='coerce')
X_train, X_test, y_train, y_test = train_test_split(X_numeric, Y, test_size=0.2, random_state=42)


# Gradient Boosting
gb_model = GradientBoostingClassifier()
gb_model.fit(X_train, y_train)
gb_pred = gb_model.predict(X_test)
print("\nGradient Boosting Accuracy:", accuracy_score(y_test, gb_pred))
print(classification_report(y_test, gb_pred))

# XGBoost
xgb_model = XGBClassifier(use_label_encoder=False, eval_metric='logloss')
xgb_model.fit(X_train, y_train)
xgb_pred = xgb_model.predict(X_test)
print("\nXGBoost Accuracy:", accuracy_score(y_test, xgb_pred))
print(classification_report(y_test, xgb_pred))

# KNN
knn_model = KNeighborsClassifier()
knn_model.fit(X_train, y_train)
knn_pred = knn_model.predict(X_test)
print("\nKNN Accuracy:", accuracy_score(y_test, knn_pred))
print(classification_report(y_test, knn_pred))

# SGM (Simple Neural Network)
sgm_model = MLPClassifier(hidden_layer_sizes=(100,), max_iter=500)
sgm_model.fit(X_train, y_train)
sgm_pred = sgm_model.predict(X_test)
print("\nSGM Accuracy:", accuracy_score(y_test, sgm_pred))
print(classification_report(y_test, sgm_pred))

# Bi-SGM (Deeper Neural Network)
bi_sgm_model = MLPClassifier(hidden_layer_sizes=(100, 100), max_iter=500)
bi_sgm_model.fit(X_train, y_train)
bi_sgm_pred = bi_sgm_model.predict(X_test)
print("\nBi-SGM Accuracy:", accuracy_score(y_test, bi_sgm_pred))
print(classification_report(y_test, bi_sgm_pred))

# Reshape input for RNN models
X_train_rnn = np.reshape(X_train.values, (X_train.shape[0], X_train.shape[1], 1))
X_test_rnn = np.reshape(X_test.values, (X_test.shape[0], X_test.shape[1], 1))

# RNN Model
rnn_model = Sequential([
    SimpleRNN(50, activation='relu', input_shape=(X_train.shape[1], 1)),
    Dense(1, activation='sigmoid')
])
rnn_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
rnn_model.fit(X_train_rnn, y_train, epochs=10, verbose=0)
rnn_pred = (rnn_model.predict(X_test_rnn) > 0.5).astype(int)
print("\nRNN Accuracy:", accuracy_score(y_test, rnn_pred))
print(classification_report(y_test, rnn_pred))

# Bi-RNN Model
bi_rnn_model = Sequential([
    Bidirectional(SimpleRNN(50, activation='relu', input_shape=(X_train.shape[1], 1))),
    Dense(1, activation='sigmoid')
])
bi_rnn_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
bi_rnn_model.fit(X_train_rnn, y_train, epochs=10, verbose=0)
bi_rnn_pred = (bi_rnn_model.predict(X_test_rnn) > 0.5).astype(int)
print("\nBi-RNN Accuracy:", accuracy_score(y_test, bi_rnn_pred))
print(classification_report(y_test, bi_rnn_pred))

Gradient Boosting Accuracy: 0.9835560123329907
              precision    recall  f1-score   support

           0       0.98      1.00      0.99     11418
           1       0.93      0.28      0.43       258

    accuracy                           0.98     11676
   macro avg       0.96      0.64      0.71     11676
weighted avg       0.98      0.98      0.98     11676

C:\Users\dines\AppData\Roaming\Python\Python312\site-packages\xgboost\core.py:158: UserWarning: [19:46:07] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0ed59c031377d09b8-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

XGBoost Accuracy: 0.9959746488523467
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     11418
           1       0.93      0.89      0.91       258

    accuracy                           1.00     11676
   macro avg       0.96      0.94      0.95     11676
weighted avg       1.00      1.00      1.00     11676


KNN Accuracy: 0.9931483384720795
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     11418
           1       0.85      0.83      0.84       258

    accuracy                           0.99     11676
   macro avg       0.92      0.92      0.92     11676
weighted avg       0.99      0.99      0.99     11676


SGM Accuracy: 0.9904933196300103
              precision    recall  f1-score   support

           0       0.99      1.00      1.00     11418
           1       0.88      0.66      0.75       258

    accuracy                           0.99     11676
   macro avg       0.94      0.83      0.87     11676
weighted avg       0.99      0.99      0.99     11676


Bi-SGM Accuracy: 0.9922062350119905
              precision    recall  f1-score   support

           0       0.99      1.00      1.00     11418
           1       0.86      0.77      0.81       258

    accuracy                           0.99     11676
   macro avg       0.93      0.88      0.90     11676
weighted avg       0.99      0.99      0.99     11676

C:\Users\dines\AppData\Roaming\Python\Python312\site-packages\keras\src\layers\rnn\rnn.py:200: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

365/365 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step

RNN Accuracy: 0.9785029119561494
              precision    recall  f1-score   support

           0       0.98      1.00      0.99     11418
           1       1.00      0.03      0.05       258

    accuracy                           0.98     11676
   macro avg       0.99      0.51      0.52     11676
weighted avg       0.98      0.98      0.97     11676

C:\Users\dines\AppData\Roaming\Python\Python312\site-packages\keras\src\layers\rnn\rnn.py:200: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

365/365 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step

Bi-RNN Accuracy: 0.9780746831106544
              precision    recall  f1-score   support

           0       0.98      1.00      0.99     11418
           1       0.54      0.05      0.09       258

    accuracy                           0.98     11676
   macro avg       0.76      0.52      0.54     11676
weighted avg       0.97      0.98      0.97     11676

In [104]:
df.dtypes

HR                  float64
O2Sat               float64
Temp                float64
SBP                 float64
MAP                 float64
DBP                 float64
Resp                float64
EtCO2               float64
BaseExcess          float64
HCO3                float64
FiO2                float64
pH                  float64
PaCO2               float64
SaO2                float64
AST                 float64
BUN                 float64
Alkalinephos        float64
Calcium             float64
Chloride            float64
Creatinine          float64
Bilirubin_direct    float64
Glucose             float64
Lactate             float64
Magnesium           float64
Phosphate           float64
Potassium           float64
Bilirubin_total     float64
TroponinI           float64
Hct                 float64
Hgb                 float64
PTT                 float64
WBC                 float64
Fibrinogen          float64
Platelets           float64
Age                 float64
Gender                int64
Unit1               float64
Unit2               float64
HospAdmTime         float64
ICULOS                int64
SepsisLabel           int64
dtype: object

In [105]:
import optuna
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from xgboost import XGBClassifier

# Convert categorical columns to numeric
X_numeric = pd.get_dummies(df_scaled).apply(pd.to_numeric, errors='coerce').fillna(0)

# Split dataset
X_train, X_test, y_train, y_test = train_test_split(X_numeric, Y, test_size=0.2, random_state=42)

# Define Optuna optimization function
def objective(trial):
    params = {
        "n_estimators": trial.suggest_int("n_estimators", 50, 500),
        "max_depth": trial.suggest_int("max_depth", 3, 10),
        "learning_rate": trial.suggest_float("learning_rate", 0.01, 0.3, log=True),
        "subsample": trial.suggest_float("subsample", 0.5, 1.0),
        "colsample_bytree": trial.suggest_float("colsample_bytree", 0.5, 1.0),
        "use_label_encoder": False,
        "eval_metric": "logloss",
    }
    
    # Train XGBoost model
    model = XGBClassifier(**params)
    model.fit(X_train, y_train)
    preds = model.predict(X_test)
    
    return accuracy_score(y_test, preds)

# Run Optuna study
study = optuna.create_study(direction="maximize")
study.optimize(objective, n_trials=30)  # Run 30 trials

# Get best parameters
best_params = study.best_params
print("\nBest Parameters:", best_params)

# Train final model with best parameters
best_xgb = XGBClassifier(**best_params)
best_xgb.fit(X_train, y_train)
best_preds = best_xgb.predict(X_test)

# Evaluate model
print("\nOptimized XGBoost Accuracy:", accuracy_score(y_test, best_preds))
print(classification_report(y_test, best_preds))

ModuleNotFoundError: No module named 'optuna'