In [1]:
# =======================
# 1. Importing Libraries
# =======================
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, RobustScaler, PowerTransformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, StackingClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

from imblearn.over_sampling import SMOTE
import optuna

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, SimpleRNN, Bidirectional
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, roc_auc_score

In [5]:
# =======================
# 2. Load and Explore Dataset
# =======================
df = pd.read_csv('sepsis_Data2.csv')

# Display basic info
print("First 5 rows:")
print(df.head())
print("\nLast 5 rows:")
print(df.tail())
print("\nRandom sample of 5 rows:")
print(df.sample(5))
print("\nData Shape:", df.shape)
print("\nData Types:")
print(df.dtypes)
print("\nSummary Statistics (Numerical):")
print(df.describe())

First 5 rows:
   Unnamed: 0    HR  O2Sat   Temp    SBP    MAP   DBP  Resp  EtCO2  \
0           1  61.0   99.0  36.44  124.0   65.0  43.0  17.5    0.0
1           2  64.0   98.0  36.44  125.0   64.0  41.0  27.0    0.0
2           3  56.0  100.0  36.44  123.0   65.0  41.0   9.0    0.0
3           4  66.0   99.0  36.22  120.0   67.0  43.0  23.0    0.0
4           5  94.0  100.0  36.22  194.0  116.0  66.0  14.0    0.0

   BaseExcess  ...   WBC  Fibrinogen  Platelets    Age  Gender  Unit1  Unit2  \
0         0.0  ...  11.0         0.0      158.0  75.91       0    0.0    1.0
1         0.0  ...  11.0         0.0      158.0  75.91       0    0.0    1.0
2         0.0  ...  11.0         0.0      158.0  75.91       0    0.0    1.0
3         0.0  ...  11.0         0.0      158.0  75.91       0    0.0    1.0
4         0.0  ...  11.0         0.0      158.0  75.91       0    0.0    1.0

   HospAdmTime  ICULOS  SepsisLabel
0        -98.6       2            0
1        -98.6       3            0
2        -98.6       4            0
3        -98.6       5            0
4        -98.6       6            0

[5 rows x 42 columns]

Last 5 rows:
       Unnamed: 0    HR  O2Sat  Temp    SBP     MAP   DBP  Resp  EtCO2  \
58371          31  72.0   98.0  37.5  178.0   98.00  70.0  16.0    0.0
58372          32  75.0   98.0  37.6  170.5   90.67  69.0  16.0    0.0
58373          33  72.0   98.0  37.6  170.5   88.33  67.0  18.0    0.0
58374          34  83.0   97.0  37.9  182.0   97.33  84.0  16.0    0.0
58375          35  76.0   97.0  37.8  183.0  101.33  80.0  18.0    0.0

       BaseExcess  ...  WBC  Fibrinogen  Platelets    Age  Gender  Unit1  \
58371        -3.0  ...  7.2       220.0       98.0  60.47       1    0.0
58372        -3.0  ...  7.2       220.0       98.0  60.47       1    0.0
58373        -3.0  ...  7.2       220.0       98.0  60.47       1    0.0
58374        -3.0  ...  7.2       220.0       98.0  60.47       1    0.0
58375        -3.0  ...  7.2       220.0       98.0  60.47       1    0.0

       Unit2  HospAdmTime  ICULOS  SepsisLabel
58371    0.0        -10.9      39            0
58372    0.0        -10.9      40            0
58373    0.0        -10.9      41            0
58374    0.0        -10.9      42            0
58375    0.0        -10.9      43            0

[5 rows x 42 columns]

Random sample of 5 rows:
       Unnamed: 0    HR  O2Sat   Temp    SBP    MAP   DBP   Resp  EtCO2  \
10764          23  81.0   97.0  36.00  135.5  72.83   0.0  16.00    0.0
17348          18  67.0  100.0  36.78  143.0  95.00  74.0  11.00    0.0
42313          29  70.0   97.0  37.22  127.0  93.00  77.0  15.00    0.0
45224           4  61.0  100.0  36.00   88.5  61.50   0.0  11.75    0.0
40510          34  90.0   95.0  36.17  105.0  71.00  72.0  23.00    0.0

       BaseExcess  ...    WBC  Fibrinogen  Platelets    Age  Gender  Unit1  \
10764         0.0  ...   4.70         0.0      173.0  71.35       0    0.0
17348         6.0  ...  14.20         0.0      124.0  54.40       1    0.0
42313         0.0  ...  11.40         0.0      241.0  55.35       1    0.0
45224         4.0  ...   7.15         0.0      178.0  73.70       1    0.0
40510         0.0  ...  12.40         0.0      240.0  60.28       1    0.0

       Unit2  HospAdmTime  ICULOS  SepsisLabel
10764    0.0        -0.02      24            0
17348    0.0      -143.81      19            0
42313    0.0        -1.56      30            0
45224    0.0        -0.01       9            0
40510    0.0        -0.01      35            0

[5 rows x 42 columns]

Data Shape: (58376, 42)

Data Types:
Unnamed: 0            int64
HR                  float64
O2Sat               float64
Temp                float64
SBP                 float64
MAP                 float64
DBP                 float64
Resp                float64
EtCO2               float64
BaseExcess          float64
HCO3                float64
FiO2                float64
pH                  float64
PaCO2               float64
SaO2                float64
AST                 float64
BUN                 float64
Alkalinephos        float64
Calcium             float64
Chloride            float64
Creatinine          float64
Bilirubin_direct    float64
Glucose             float64
Lactate             float64
Magnesium           float64
Phosphate           float64
Potassium           float64
Bilirubin_total     float64
TroponinI           float64
Hct                 float64
Hgb                 float64
PTT                 float64
WBC                 float64
Fibrinogen          float64
Platelets           float64
Age                 float64
Gender                int64
Unit1               float64
Unit2               float64
HospAdmTime         float64
ICULOS                int64
SepsisLabel           int64
dtype: object

Summary Statistics (Numerical):
         Unnamed: 0            HR         O2Sat          Temp           SBP  \
count  58376.000000  58376.000000  58376.000000  58376.000000  58376.000000
mean      26.794505     85.045553     96.971238     36.721042    119.677133
std       29.363177     17.166574      5.316696      2.969187     24.790090
min        1.000000     22.000000      0.000000      0.000000      0.000000
25%       10.000000     73.000000     96.000000     36.440000    104.000000
50%       20.000000     84.000000     98.000000     36.900000    118.000000
75%       34.000000     96.000000     99.000000     37.400000    135.000000
max      264.000000    183.000000    100.000000     41.170000    229.000000

                MAP           DBP          Resp    EtCO2    BaseExcess  ...  \
count  58376.000000  58376.000000  58376.000000  58376.0  58376.000000  ...
mean      78.828130     41.045126     18.768214      0.0      0.044231  ...
std       15.239268     30.558140      5.469252      0.0      3.372358  ...
min       20.000000      0.000000      0.000000      0.0    -32.000000  ...
25%       68.330000      0.000000     15.000000      0.0      0.000000  ...
50%       77.000000     52.000000     18.000000      0.0      0.000000  ...
75%       87.670000     63.000000     22.000000      0.0      1.000000  ...
max      294.000000    173.000000     67.000000      0.0     21.000000  ...

                WBC    Fibrinogen    Platelets           Age        Gender  \
count  58376.000000  58376.000000  58376.00000  58376.000000  58376.000000
mean      11.418421     52.279459    205.16834     62.973074      0.583116
std        6.530127    136.887448    111.19092     16.578110      0.493047
min        0.000000      0.000000      0.00000     18.110000      0.000000
25%        7.700000      0.000000    134.75000     51.920000      0.000000
50%       10.500000      0.000000    188.00000     65.980000      1.000000
75%       13.800000      0.000000    252.00000     75.840000      1.000000
max      128.700000    954.000000    970.00000     88.980000      1.000000

              Unit1         Unit2   HospAdmTime        ICULOS   SepsisLabel
count  58376.000000  58376.000000  58376.000000  58376.000000  58376.000000
mean       0.274531      0.255687    -46.696523     28.553584      0.022372
std        0.446281      0.436251    132.489895     29.297463      0.147892
min        0.000000      0.000000  -3269.100000      2.000000      0.000000
25%        0.000000      0.000000    -31.860000     12.000000      0.000000
50%        0.000000      0.000000     -1.690000     22.000000      0.000000
75%        1.000000      1.000000     -0.020000     36.000000      0.000000
max        1.000000      1.000000     14.650000    265.000000      1.000000

[8 rows x 42 columns]

In [7]:
df

,Unnamed: 0,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,1,61.0,99.0,36.44,124.0,65.00,43.0,17.5,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,2,0
1,2,64.0,98.0,36.44,125.0,64.00,41.0,27.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,3,0
2,3,56.0,100.0,36.44,123.0,65.00,41.0,9.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,4,0
3,4,66.0,99.0,36.22,120.0,67.00,43.0,23.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,5,0
4,5,94.0,100.0,36.22,194.0,116.00,66.0,14.0,0.0,0.0,...,11.0,0.0,158.0,75.91,0,0.0,1.0,-98.6,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58371,31,72.0,98.0,37.50,178.0,98.00,70.0,16.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,39,0
58372,32,75.0,98.0,37.60,170.5,90.67,69.0,16.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,40,0
58373,33,72.0,98.0,37.60,170.5,88.33,67.0,18.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,41,0
58374,34,83.0,97.0,37.90,182.0,97.33,84.0,16.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,42,0
58375,35,76.0,97.0,37.80,183.0,101.33,80.0,18.0,0.0,-3.0,...,7.2,220.0,98.0,60.47,1,0.0,0.0,-10.9,43,0

In [11]:


# Assuming the sepsis label column is named 'sepsis' and uses 1 for positive and 0 for negative
positive_df = df[df['SepsisLabel'] == 1]
negative_df = df[df['SepsisLabel'] == 0]

# Check that we have enough negative samples
assert len(positive_df) == 1306, "The number of positive samples isn't 1306!"
assert len(negative_df) >= 1306, "Not enough negative samples to downsample!"

# Randomly sample 1306 negative samples
negative_sampled_df = negative_df.sample(n=1306, random_state=42)

# Concatenate positive and sampled negative examples
balanced_df = pd.concat([positive_df, negative_sampled_df])

# Shuffle the dataset
balanced_df = balanced_df.sample(frac=1, random_state=42).reset_index(drop=True)

# Save the balanced dataset to a new CSV
balanced_df.to_csv('balanced_dataset.csv', index=False)

print("Balanced dataset created with shape:", balanced_df.shape)

Balanced dataset created with shape: (2612, 42)